.navbar-inverse{
    border-radius: 0px;
    background-color: #d3b703;
    padding: 5px;
    border: none;
    margin-bottom: 0;
}
#myNavbar a{
    color: white;
}
#myNavbar a:hover{
    color: black;
    transition: 0.5s;
}
#myNavbar a.active{
    color: black;
}
.navbar-header .navbar-brand{
    color: white;
    font-size: 23px;
    font-weight: bold;
}